<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://weblibrary20181101020607.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>weblibrary20181101020607.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebLibrary20181101020607</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebLibrary20181101020607</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=weblibrary20181101020607dbserver.database.windows.net;Initial Catalog=DBLibrary;User ID=demon;Password=dzaz0598!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebLibrary.Models.ApplicationDbContext, WebLibrary" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBLibraryEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=weblibrary20181101020607dbserver.database.windows.net;Initial Catalog=DBLibrary;User ID=demon;Password=dzaz0598!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebLibrary.Models.DBLibraryEntities1, WebLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBLibraryEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LibraryModel.csdl|res://*/Models.LibraryModel.ssdl|res://*/Models.LibraryModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=weblibrary20181101020607dbserver.database.windows.net;Initial Catalog=DBLibrary;User ID=demon;Password=dzaz0598!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=weblibrary20181101020607dbserver.database.windows.net;Initial Catalog=DBLibrary;User ID=demon;Password=dzaz0598!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>