<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://weblibrary20181031070126.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>weblibrary20181031070126.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebLibrary20181031070126</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebLibrary20181031070126</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User ID=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" Name="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User Id=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebLibrary.Models.ApplicationDbContext, WebLibrary" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBLibraryEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User ID=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" Name="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User Id=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebLibrary.Models.DBLibraryEntities1, WebLibrary" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBLibraryEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User ID=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" Name="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User Id=demon@weblibrary20181031070126dbserver;Password=dzaz0598!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-CD7EOJH\SQLEXPRESS;Initial Catalog=DBLibrary;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBLibraryEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelLibrary.csdl|res://*/ModelLibrary.ssdl|res://*/ModelLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CD7EOJH\SQLEXPRESS;initial catalog=DBLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBLibraryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelLibrary.csdl|res://*/ModelLibrary.ssdl|res://*/ModelLibrary.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;initial catalog=WebLibrary20181031070126_db;user id=demon@weblibrary20181031070126dbserver;password=dzaz0598!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBLibraryEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LibraryModel.csdl|res://*/Models.LibraryModel.ssdl|res://*/Models.LibraryModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User Id=demon@weblibrary20181031070126dbserver;Password=dzaz0598!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:weblibrary20181031070126dbserver.database.windows.net,1433;Initial Catalog=WebLibrary20181031070126_db;User Id=demon@weblibrary20181031070126dbserver;Password=dzaz0598!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>